*{
    margin: 0 auto;
    padding: 0;
}
body{
    background: #000 url(cro.jpg) no-repeat top fixed ;
    background-size: contain;
    
}
div{
    text-align: center;
    margin-top: 4%;
}
h1{
    color: white;
    padding-bottom: 0.3em;
    font-size: 75px;
}
button{
    height: 4em;
    width: 8.5em;
    margin-left: 5px;
    border: none;
    color: white;
}
button:hover{
    cursor: pointer;
}
.green{
    background-color: green;
}
.yellow{
    background-color: rgb(92, 92, 1);
}
.red{
    background-color: red;
}